body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    color: #fff;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

input, button {
    border: none;
    outline: none;
}

::placeholder, button {
    font-family: 'Poppins', sans-serif;
}

section:not(.hero) {
    margin-top: 5rem;
}